doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div(ng-app="chat-app", ng-cloak)
    block content


    block javascripts
      scripts(src="/angular/angular.min.js")
      scripts(src="/javascripts/main.js")
